max_epoch: 500
batch_size: 64 # samples loaded per categorisation step for all classes involved
criterion: 
  name: "negative log-likelihood"
  kwargs:
    eps: 1e-8
optimizer:
  name: "adam"
  kwargs:
    lr: 1e-4
    weight_decay: 0.00
auto_stack: True
auto_unbind: False
patience: 250
stop_crit: "clsloss"
watch_freq: 1000
metrics: {"clsloss": 1, "acc": 1, "viz": 50, "fid": 50, "rob": 50}
save: True

