max_epoch: 4
batch_size: 256 # samples loaded per categorisation step for all classes involved
criterion: 
  name: "negative log-likelihood"
  kwargs:
    eps: 1e-8
optimizer:
  name: "adam"
  kwargs:
    lr: 1e-4
    weight_decay: 0.00
auto_stack: True
auto_unbind: False
patience: 50
stop_crit: "clsloss"
watch_freq: 0
metrics: {"clsloss": 1}
save: False