# Old environment not needed for repo
environment_old.*

# I don't know I want to keep it
spec_file.txt

# Save images only locally. 
images/

# Notebooks are right now only for personal experimentation
notebooks/

# This folder contains the results of experiment runs, the logging, images, and model parameters.
outputs/

# PyTorch
*.pt
*.pth

# Checkpoints and logs
checkpoints/
logs/
*.log

# Data on disk
.datasets/

# Jupyter
.ipynb_checkpoints

# Python
__pycache__/
*.pyc

# Debugging
experiments/debug.py
.vscode/

# Tracking
/wandb/
experiments/wandb_test.py

# scratchpad
scratchpad.py